.container {
  perspective: 1200px;
  perspective-origin: 50% 50%;
  position: relative;
  width: 100%;
  min-height: 600px;
  overflow: visible;
}

.stage {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
